@media(max-width:575px){
    .news-body{
        display: block;
        padding: 0 5%;
        height: 300px;
        }
        .burger span{
            display: block;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;
            background: #cdcdcd;
            border-radius: 3px;
            font-size: 22px;
        }
        .navigation button{
            display: none;
        }
        .advertaisment-container{
            padding: 0;
        }
        .news-header h1{
           display: none;
        }
        .news-header h6{
            display: inline;
        }
        .atsu {
            width: 100%;
        }
        .right{
            width: 100%;
            display: block;
        }
        .right div{
            width: 100%;
        }
        .right a{
          font-size: 40px;
        }
        .killer{
            width: 100%;
        }
        .tate{
            width: 100%;
        }
        .killer2{
            width: 100%;
        }
        .tate2{
            width: 100%;
        }

}
